
@{
    Layout = null;
}


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="sbadmin2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="sbadmin2/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-success d-flex flex-column min-vh-100">

    <div class="container flex-fill d-flex align-items-center justify-content-center">


        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img src="~/sbadmin2/ImagenesSaba/channels4_profile.jpg"
                                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-lg-6">
                                <div>

                                </div>
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>


                                    </div>
                                    <form class="user"
                                          asp-controller="Acceso"
                                          asp-action="Login"
                                          method="post">

                                        @if (TempData["Error"] != null)
                                        {
                                            <div class="alert alert-danger text-center">
                                                @TempData["Error"]
                                            </div>
                                        }

                                        <div class="form-group">
                                            <input type="text"
                                                   name="usuario"
                                                   class="form-control form-control-user"
                                                   placeholder="Usuario"
                                                    maxlength="100"
                                                   required>
                                        </div>

                                        <div class="form-group">
                                            <input type="password"
                                                   name="clave"
                                                   class="form-control form-control-user"
                                                   placeholder="Contraseña"
                                                      maxlength="200"
                                                   required>
                                        </div>

                                        @*<div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">
                                                    Recordarme
                                                </label>
                                            </div>
                                        </div>*@

                                        <button type="submit"
                                                class="btn btn-primary btn-user btn-block">
                                            Iniciar Sesión
                                        </button>

                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Footer -->

        </div>

    </div>
    @*<footer class="text-center py-3" style="background-color: #FFA500; color: whitesmoke;">
            Farmacias Saba © @DateTime.Now.Year. - Todos los derechos reservados - Desarrollado por Ing. Abraham Reyes
        </footer>*@
    <!-- Bootstrap core JavaScript-->
    <script src="sbadmin2/vendor/jquery/jquery.min.js"></script>
    <script src="sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="sbadmin2/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scsbadmin2/ripts for all pages-->
    <script src="sbadmin2/js/sb-admin-2.min.js"></script>
    <script>
        $(document).ready(function () {

            $("form").on("submit", function () {

                $("#loadingOverlay").css("display", "flex");

                $("button[type='submit']").prop("disabled", true);

            });

        });
    </script>

    <!-- LOADING OVERLAY -->
    <div id="loadingOverlay" style="
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index:9999;
    align-items:center;
    justify-content:center;
    flex-direction:column;
">

        <div class="spinner-border text-light" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Cargando...</span>
        </div>

        <div class="text-white mt-3">
            Iniciando sesión...
        </div>

    </div>

</body>
